@model IEnumerable<BazaAwionika.Web.ViewModel.BatteryViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
    <table id="main-table" class="tablenormal">
                  <tr>
                      <th>@Html.DisplayNameFor(model => model.AircraftName)</th>
                      <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
                      <th>@Html.DisplayNameFor(model => model.DateExecution)</th>
                      <th>@Html.DisplayNameFor(model => model.DaysRemaining)</th>
                      <th>@Html.DisplayNameFor(model => model.DateExpiration)</th>
                      <th>@Html.DisplayNameFor(model => model.FlightHoursExecution)</th>
                      <th>@Html.DisplayNameFor(model => model.FlightHoursRemaining)</th>
                      <th>@Html.DisplayNameFor(model => model.FlightHoursExpiration)</th>
                  </tr>
                  @foreach (var item in Model)
                  {
                  <tr class="kliki" data-id="@item.Id">
                      <td>@Html.DisplayFor(modelItem => item.AircraftName) </td>
                      <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                      <td>@Html.DisplayFor(modelItem => item.DateExecution)</td>
                      <td>@Html.DisplayFor(modelItem => item.DaysRemaining)</td>
                      <td>@Html.DisplayFor(modelItem => item.DateExpiration)</td>
                      <td>@Html.DisplayFor(modelItem => item.FlightHoursExecution)</td>
                      <td>@Html.DisplayFor(modelItem => item.FlightHoursRemaining)</td>
                      <td>@Html.DisplayFor(modelItem => item.FlightHoursExpiration)</td>
                  </tr>
                  }
              </table>
         

<div id="itemDetails">
</div>

    @section scripts{
        <script type='text/javascript' src="~/lib/jquery/dist/jquery.js">
        
        $(".kliki").on("click", function () {
            var itemId = $(this).data('id');
            $.ajax({
                url: "@Url.Action("Details", "Battery")",
                type: "GET",
                data: {
                    "id": itemId
                },
                success: function (result) {
                    $("#itemDetails").html(result);
                },
                error: function (data) {
                    console.log("ERROR: ", data)
                }
            })
        });

        </script>
    }