@model IEnumerable<BazaAwionika.Model.AircraftBiuletinModel>

@{
    ViewBag.Title = "Biuletyny";
    Layout = "~/Views/Shared/AircraftLayout.cshtml";
}



<p>
    @Html.ActionLink("Dodaj nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aircraft.TailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateExecution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActual)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aircraft.TailNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExpiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExecution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActual)
            </td>
        </tr>
    }

</table>
<div id="itemDetails">
</div>


<script type='text/javascript' src="~/lib/jquery/dist/jquery.js">
        $(".kliki").on("click", function () {
            var itemId = $(this).data('id');
            $.ajax({
                url: "@Url.Action("Details", "AircraftBiuletin")",
                type: "GET",
                data: {
                    "id": itemId
                },
                success: function (result) {
                    $("#itemDetails").html(result);
                },
                error: function (data) {
                    console.log("ERROR: ", data)
                }
            })
        });




</script>