@section styles{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @RenderSection("styles", false);
</head>



<body>
    @await Component.InvokeAsync("AircraftList");

    <div class="sidenav">
        @Html.ActionLink("Strona główna", "Index", "Home")
        @Html.ActionLink("Samoloty", "Index", "Aircrafts")
        @Html.ActionLink("Alternator", "Index", "Alternator")
        @Html.ActionLink("Generatory", "Index", "Generator")
        <button class="dropdown-btn">Baterie<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            @Html.ActionLink("Akumulatory", "Index", "Battery")
            @Html.ActionLink("Baterie emergency", "Index", "EmergencyLightsBattery")
            @Html.ActionLink("Ulb Fdr", "Index", "TestDcfEfis")
            @Html.ActionLink("Ulb Cvr", "Index", "TestTru")
            @Html.ActionLink("Gps", "Index", "UlbTest")
        </div>
        <button class="dropdown-btn">TLEN <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            @Html.ActionLink("Butle główne", "Index", "OxygenCylinderMain")
            @Html.ActionLink("Butle przenośne", "Index", "OxygenCylinderPortable")
            @Html.ActionLink("wymiana", "Index", "OxygenExchange")
            @Html.ActionLink("Pbe", "Index", "Pbe")
        </div>
        <button class="dropdown-btn">ELT <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            @Html.ActionLink("Test funkcjonalny", "Index", "EltFunctionalTest")
            @Html.ActionLink("Test Operacyjny", "Index", "EltOperationalTest")
        </div>
        <button class="dropdown-btn">Bazy danych <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            @Html.ActionLink("EGPWS", "Index", "EgpwsDatabase")
            @Html.ActionLink("GIPSEN", "Index", "GipsenDatabase")
        </div>
        @Html.ActionLink("FDR", "Index", "FdrRead")
        @Html.ActionLink("Dewiacja busoli", "Index", "MagneticCompassDeviation")
        @Html.ActionLink("Kody GPS", "Index", "GpsPCodes")
        <button class="dropdown-btn">Testy <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            @Html.ActionLink("Dcf, Efis i Tru", "Index", "TestEfisDcfTru")
            @Html.ActionLink("TRU", "Index", "TestTru")
            @Html.ActionLink("Ulb", "Index", "UlbTest")
        </div>
        @Html.ActionLink("Użytkownicy", "Index", "User")
        @Html.ActionLink("test listy dcf", "Index", "TestEfisDcfTru")
    </div>
    <div class="main">
        @RenderBody()
        <hr />
        <footer>
            <p>© @DateTime.Now Dzisiejsza data </p>
        </footer>
    </div>
    <script type='text/javascript' src="~/lib/jquery/dist/jquery.js"></script>
    <script type='text/javascript' src="~/lib/bootstrap/disc/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>