@model IEnumerable<BazaAwionika.Web.ViewModel.TestDcfViewModel>

@{
    ViewBag.Title = "Test Dcf";
}
<h2>Test DCF</h2>

@{

    var labelColours = new Dictionary<MaintStatus, string>()
{
        { MaintStatus.Ok, "green" },
        { MaintStatus.Caution, "yellow" },
        { MaintStatus.Warning, "orange" },
        { MaintStatus.Error, "red" }
    };
}

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
<table id="main-table" class="tablenormal">
    <tr>
        <th>@Locale.Strings.AircraftName</th>
        <th>@Locale.Strings.FlightHoursExecution</th>
        <th>@Locale.Strings.FlightHoursRemaining</th>
        <th>@Locale.Strings.FlightHoursExpiration</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="kliki" data-id="@item.Id" style="background-color: @labelColours[item.MaintStatus];">
            <td>@Html.DisplayFor(modelItem => item.AircraftName) </td>
            <td>@Html.DisplayFor(modelItem => item.FlightHoursExecution)</td>
            <td>@Html.DisplayFor(modelItem => item.FlightHoursRemaining)</td>
            <td>@Html.DisplayFor(modelItem => item.FlightHoursExpiration)</td>
        </tr>
    }
</table>


<div id="itemDetails">
</div>

@section scripts{
    <script type='text/javascript' src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        var original = "";

        $(".kliki").hover(function () {
            original = $(this).css("background-color");

            $(this).css("background-color", "#ddd");
        }, function () {
            $(this).css("background-color", original);
        });


    </script>
    <script type="text/javascript">
        $(".kliki").on("click", function () {
            var itemId = $(this).data('id');
            $.ajax({
                url: "@Url.Action("Details", "TestDcf")",
                type: "GET",
                data: {
                    "id": itemId
                },
                success: function (result) {
                    $("#itemDetails").html(result);
                },
                error: function (data) {
                    console.log("ERROR: ", data)
                }
            })
        });

    </script>
}