@using BazaAwionika.Web.ViewModel;
@model AircraftViewModel


<h2>Kreator samolotów</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal" id="edittemp">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="w3-row">
            <div class="w3-col w3-container m3 l4">

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.TailNumber </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TailNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TailNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.SerialNumber </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.AdditionalInfo </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AdditionalInfo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.UserName </label>
                    <div class="col-md-10">
                        @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.DateAdd </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateAdd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateAdd, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>
            <div class="w3-col w3-container m3 l4">

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.FlightHours </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FlightHours, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FlightHours, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.DateFlightHours </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateFlightHours, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.DateFlightHours, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.Status </label>
                    <div class="col-md-10">
                        @Html.DropDownList("AircraftStatusId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AircraftStatusId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.Location </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.DateStart </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> @Locale.Strings.DateEnd </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

        </div>

        <button type="submit" value="save" class="tablinks">@Locale.Strings.SaveChanges</button>
        <button class="tablinks" onclick="location.href='@Url.Action("Index", "Aircrafts")'">@Locale.Strings.Return</button>

    </div>
}


