@using BazaAwionika.Web.ViewModel;
@model AircraftViewModel

@{
    ViewBag.Title = "Szczegóły";
}


<div class="w3-row">
    <div class="w3-col w3-container m2 l3">
        <table class="w3-table-all">

            <tr><td>@Html.DisplayNameFor(model => model.TailNumber)</td>
                <td>@Html.DisplayFor(model => model.TailNumber)</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.SerialNumber)</td>
                <td>@Html.DisplayFor(model => model.SerialNumber)</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.FlightHours) </td>
                <td>@Html.DisplayFor(model => model.FlightHours)</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.DateFlightHours)</td>
                <td>@Html.DisplayFor(model => model.DateFlightHours)</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.AdditionalInfo)</td>
                <td>@Html.DisplayFor(model => model.AdditionalInfo)</td></tr>
            <tr><td>@Html.DisplayNameFor(model => model.DateAdd)</td>
                <td>@Html.DisplayFor(model => model.DateAdd)</td></tr>

           </table>
</div>
    <div class="w3-col w3-container m3 l3">
        <table class="w3-table-all">
            <tr>
                <td>@Html.DisplayNameFor(model => model.AircraftStatusName)</td>
                <td>@Html.DisplayFor(model => model.AircraftStatusName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.AircraftLocationName)</td>
                <td>@Html.DisplayFor(model => model.AircraftLocationName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DateStart) </td>
                <td>@Html.DisplayFor(model => model.DateStart)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DateEnd)</td>
                <td>@Html.DisplayFor(model => model.DateEnd)</td>
            </tr>
        </table>
</div>
</div>
<form id="__AjaxAntiForgeryForm" action="#" method="post">

    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        <input id="delete_btn" type="button" value="@Locale.Strings.BtnDelete" class="btn btn-default" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
</form>
<script type='text/javascript' src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">


    $(document).on("click", "#delete_btn", function (e) {
        e.preventDefault();
        var confirmation = confirm("@Locale.Strings.DeleteConfirmation");
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var id = @Model.Id;
            if (confirmation) {
                $.ajax({
                    url: "@Url.Action("Delete","Aircrafts", new { id = Model.Id })",
                    type: "POST",
                    data: {
                        __RequestVerificationToken: token,
                        "id": id
                        },
                    success: function (result) {
                        console.log("Success: ", result)
                    },
                    error: function (data) {
                        console.log("ERROR: ", data)
                    }
                });
            }
        })


</script>