@using BazaAwionika.Web.ViewModel;
@model AircraftViewModel

@{
    ViewBag.Title = "Szczegóły";
}


<div class="w3-row">
    <div class="w3-col w3-container m2 l3">
        <table class="w3-table-all">

            <tr><td>@Locale.Strings.TailNumber</td>
                <td>@Html.DisplayFor(model => model.TailNumber)</td></tr>
            <tr><td>@Locale.Strings.SerialNumber</td>
                <td>@Html.DisplayFor(model => model.SerialNumber)</td></tr>
            <tr><td>@Locale.Strings.FlightHours </td>
                <td>@Html.DisplayFor(model => model.FlightHours)</td></tr>
            <tr><td>@Locale.Strings.DateFlightHours</td>
                <td>@Html.DisplayFor(model => model.DateFlightHours)</td></tr>
            <tr><td>@Locale.Strings.AdditionalInfo</td>
                <td>@Html.DisplayFor(model => model.AdditionalInfo)</td></tr>
            <tr><td>@Locale.Strings.DateAdd</td>
                <td>@Html.DisplayFor(model => model.DateAdd)</td></tr>

           </table>
</div>
    <div class="w3-col w3-container s4 m4 l3">
        <table class="w3-table-all">
            <tr>
                <td>@Locale.Strings.Status</td>
                <td>@Html.DisplayFor(model => model.AircraftStatusName)</td>
            </tr>
            <tr>
                <td>@Locale.Strings.Location</td>
                <td>@Html.DisplayFor(model => model.AircraftLocationName)</td>
            </tr>
            <tr>
                <td>@Locale.Strings.DateStart </td>
                <td>@Html.DisplayFor(model => model.DateStart)</td>
            </tr>
            <tr>
                <td>@Locale.Strings.DateEnd</td>
                <td>@Html.DisplayFor(model => model.DateEnd)</td>
            </tr>
        </table>
</div>
</div>
<form id="__AjaxAntiForgeryForm" action="#" method="post">

    @Html.AntiForgeryToken()


    <div class="form-actions no-color">
        <button class="tablinks" autofocus onclick="location.href='@Url.Action("Index", "Aircrafts")'">@Locale.Strings.BackList</button>
        <button id="edit_btn" class="tablinks" autofocus type="submit" >@Locale.Strings.BtnEdit</button>
        <button id="delete_btn" autofocus type="submit" class="tablinks"> @Locale.Strings.BtnDelete </button>
    </div>
</form>
<script type='text/javascript' src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">


    $(document).on("click", "#delete_btn", function (e) {
        e.preventDefault();
        var confirmation = confirm("@Locale.Strings.DeleteConfirmation");
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var id = @Model.Id;
            if (confirmation) {
                $.ajax({
                    url: "@Url.Action("Delete","Aircrafts", new { id = Model.Id })",
                    type: "POST",
                    data: {
                        __RequestVerificationToken: token,
                        "id": id
                        },
                    success: function (result) {

                        console.log("Success: ", result)
                    },
                    error: function (data) {
                        console.log("ERROR: ", data)
                    }
                });
            }
    })

    $(document).on("click", "#edit_btn", function (e) {
        e.preventDefault();
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var new_url = "@Url.Action("Edit","Aircrafts", new { id = Model.Id })";
        var id = @Model.Id;

                $.ajax({
                    url: new_url,
                    type: "GET",
                    data: {
                        __RequestVerificationToken: token,
                        "id": id
                        },
                    success: function (result) {
                        console.log("Success: ", result)
                        window.location.href = new_url;
                    },
                    error: function (data) {
                        console.log("ERROR: ", data)
                    }
                });

        })


</script>