@using BazaAwionika.Web.ViewModel;
@model IEnumerable<BazaAwionika.Web.ViewModel.AircraftViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AircraftLayout.cshtml";
}

<h2>Samoloty Informacje</h2>

<table class="tablenormal">

    <tr>
        <th>@Locale.Strings.Name</th>
        <th>@Locale.Strings.Status</th>
        <th>@Locale.Strings.FlightHours</th>
        <th>@Locale.Strings.DateFlightHours</th>
        <th>@Locale.Strings.AdditionalInfo</th>
        <th>@Locale.Strings.Location</th>
        <th>@Locale.Strings.DateStart</th>
        <th>@Locale.Strings.DateEnd</th>

    </tr>
    @foreach (BazaAwionika.Web.ViewModel.AircraftViewModel aircraft in Model)
    {
        <tr class="kliki" data-id="@aircraft.Id">
            <td>@aircraft.TailNumber</td>
            <td>@aircraft.AircraftStatusName</td>
            <td>@aircraft.FlightHours</td>
            <td>@aircraft.DateFlightHours</td>
            <td>@aircraft.AdditionalInfo</td>
            <td>@aircraft.Location</td>
            <td>@aircraft.DateStart</td>
            <td>@aircraft.DateEnd</td>

        </tr>
    }
</table>

<div id="itemDetails">
</div>

@section scripts{
    <script type='text/javascript' src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        var original = "";

        $(".kliki").hover(function () {
            original = $(this).css("background-color");

            $(this).css("background-color", "#ddd");
        }, function () {
            $(this).css("background-color", original);
        });


    </script>
    <script type="text/javascript">
        $(".kliki").on("click", function () {
            var itemId = $(this).data('id');
            $.ajax({
                url: "@Url.Action("Details", "Aircrafts")",
                type: "GET",
                data: {
                    "id": itemId
                },
                success: function (result) {
                    $("#itemDetails").html(result);
                },
                error: function (data) {
                    console.log("ERROR: ", data)
                }
            })
        });

    </script>
}

