@using BazaAwionika.Web.ViewModel;
@model IEnumerable<BazaAwionika.Web.ViewModel.AircraftViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AircraftLayout.cshtml";
}
<p>Samoloty</p>
<p>
    @Html.ActionLink("Stwórz nowy", "Create")
</p>

<table class="tablenormal">

    <tr>
        <th>@Html.DisplayNameFor(model => model.TailNumber)</th>
        <th>@Html.DisplayNameFor(model => model.AircraftStatusName)</th>
        <th>@Html.DisplayNameFor(model => model.FlightHours)</th>
        <th>@Html.DisplayNameFor(model => model.DateFlightHours)</th>
        <th>@Html.DisplayNameFor(model => model.AdditionalInfo)</th>
        <th>@Html.DisplayNameFor(model => model.Location)</th>
        <th>@Html.DisplayNameFor(model => model.DateStart)</th>
        <th>@Html.DisplayNameFor(model => model.DateEnd)</th>

    </tr>
    @foreach (BazaAwionika.Web.ViewModel.AircraftViewModel aircraft in Model)
    {
        <tr class="kliki" data-id="@aircraft.Id">
            <td>@aircraft.TailNumber</td>
            <td>@aircraft.AircraftStatusName</td>
            <td>@aircraft.FlightHours</td>
            <td>@aircraft.DateFlightHours</td>
            <td>@aircraft.AdditionalInfo</td>
            <td>@aircraft.Location</td>
            <td>@aircraft.DateStart</td>
            <td>@aircraft.DateEnd</td>

        </tr>
    }
</table>

<div id="itemDetails">
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    <script type='text/javascript'>
        $(".kliki").on("click", function () {
            var itemId = $(this).data('id');
            $.ajax({
                url: "@Url.Action("Details", "Aircrafts")",
                type: "GET",
                data: {
                    "id": itemId
                },
                success: function (result) {
                    $("#itemDetails").html(result);
                },
                error: function (data) {
                    console.log("ERROR: ", data)
                }
            })
        });

    </script>
}

