@model BazaAwionika.Web.ViewModel.AircraftStatusViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>
</div>
<form id="__AjaxAntiForgeryForm" action="#" method="post">

    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        <input id="delete_btn" type="button" value="@Locale.Strings.BtnDelete" class="btn btn-default" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
</form>
<script type='text/javascript' src="~/lib/jquery/dist/jquery.js">


    $(document).on("click", "#delete_btn", function (e) {
        e.preventDefault();
        var confirmation = confirm("@Locale.Strings.DeleteConfirmation");
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var id = @Model.Id;
            if (confirmation) {
                $.ajax({
                    url: "@Url.Action("Delete","AircraftStatus", new { id = Model.Id })",
                    type: "POST",
                    data: {
                        __RequestVerificationToken: token,
                        "id": id
                        },
                    success: function (result) {
                        console.log("Success: ", result)
                    },
                    error: function (data) {
                        console.log("ERROR: ", data)
                    }
                });
            }
        })


</script>
