@model BazaAwionika.Web.ViewModel.GeneratorViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Generator szczegóły</h4>
    <hr />

    <div class="w3-row">
        <div class="w3-col w3-container s2 m3 l3">
            <table class="w3-table-all">

                <tr>
                    <td>@Locale.Strings.AircraftName</td>
                    <td>@Html.DisplayFor(model => model.AircraftName)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.SerialNumber</td>
                    <td>@Html.DisplayFor(model => model.SerialNumber)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.IsActual</td>
                    <td>@Html.DisplayFor(model => model.IsActual)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.IsInstalled</td>
                    <td>@Html.DisplayFor(model => model.IsInstalled)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.UserName</td>
                    <td>@Html.DisplayFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.DateAdd</td>
                    <td>@Html.DisplayFor(model => model.DateAdd)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursAircraftInstallation</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursAircraftInstallation)</td>
                </tr>

            </table>
        </div>
        <div class="w3-col w3-container s2 m3 l3">
            <table class="w3-table-all">
                <tr>
                    <td>@Locale.Strings.FlightHoursBrushes</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursBrushes)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursBearings</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursBearings)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursOverhaul</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursOverhaul)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursAircraftInstallation</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursAircraftInstallation)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHours</td>
                    <td>@Html.DisplayFor(model => model.AircraftFlightHours)</td>
                </tr>
            

            </table>
        </div>
        <div class="w3-col w3-container s2 m3 l3">
            <table class="w3-table-all">
                <tr>
                    <td>@Locale.Strings.FlightHoursBrushesRemaining</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursBrushesRemaining)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursBearingsRemaining</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursBearingsRemaining)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursOverhaulRemaining</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursOverhaulRemaining)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursBrushesExpiration</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursBrushesExpiration)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursBearingsExpiration</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursBearingsExpiration)</td>
                </tr>
                <tr>
                    <td>@Locale.Strings.FlightHoursOverhaulExpiration</td>
                    <td>@Html.DisplayFor(model => model.FlightHoursOverhaulExpiration)</td>
                </tr>

            </table>
        </div>
    </div>
</div>
<form id="__AjaxAntiForgeryForm" action="#" method="post">

    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        <input id="delete_btn" type="button" value="@Locale.Strings.BtnDelete" class="btn btn-default" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
</form>
<script type='text/javascript' src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">


    $(document).on("click", "#delete_btn", function (e) {
        e.preventDefault();
        var confirmation = confirm("@Locale.Strings.DeleteConfirmation");
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var id = @Model.Id;
            if (confirmation) {
                $.ajax({
                    url: "@Url.Action("Delete","Generator", new { id = Model.Id })",
                    type: "POST",
                    data: {
                        __RequestVerificationToken: token,
                        "id": id
                        },
                    success: function (result) {
                        console.log("Success: ", result)
                    },
                    error: function (data) {
                        console.log("ERROR: ", data)
                    }
                });
            }
        })


</script>